
:root {
    /* COLORS */
    --semantic-color-background-base: #ffffff;
    --semantic-color-background-subtle: #f0f0f3;
    --semantic-color-background-lavender-base: #8289bc;
    --semantic-color-background-lavender-subtle: #c5c4e3;
    --semantic-color-background-lemon-base: #ffe209;
    --semantic-color-background-lemon-subtle: #fff19a;
    --semantic-color-background-neutral-base: #ffffff;
    --semantic-color-background-neutral-subtle: #f0f0f3;
    --semantic-color-background-olive-base: #8b8e22;
    --semantic-color-background-olive-subtle: #cfce35;
    --semantic-color-feedback-danger-base: #d20a11;
    --semantic-color-feedback-sucess-base: #008b55;
    --semantic-color-feedback-warning-base: #efcd00;
    --semantic-color-interactive-base: #2b4474;
    --semantic-color-interactive-heavy: #091128;
    --semantic-color-interactive-strong: #182645;
    --semantic-color-interactive-subtle: #e8e8f1;
    --semantic-color-interactive-disabled: #adb2bd;
    --semantic-color-stroke-base: #bcc0ca;
    --semantic-color-stroke-strong: #7b8695;
    --semantic-color-stroke-subtle: #d6d8df;
    --semantic-color-text-base: #67717e;
    --semantic-color-text-heavy: #383e45;
    --semantic-color-text-strong: #515963;
    --semantic-color-text-subtle: #7b8695;
    --semantic-color-text-inverse-base: #e3e4e9; 
    --semantic-color-text-inverse-heavy: #ffffff; 
    --semantic-color-text-inverse-strong: #f0f0f3; 
    --semantic-color-text-inverse-subtle: #d6d8df; 

    /* BREAKPOINTS */
    --semantic-breakpoint-mobile: 36rem;
    --semantic-breakpoint-tablet: 48rem;
    --semantic-breakpoint-desktop: 62rem;
    --semantic-breakpoint-large-desktop: 87.5rem;

    /* DISTANCES */
    --semantic-distance-zero: 0rem;
    --semantic-distance-ultra-small: 0.125rem;
    --semantic-distance-extra-small: 0.25rem;
    --semantic-distance-small: 0.375rem;
    --semantic-distance-compact: 0.5rem;
    --semantic-distance-medium: 0.75rem;
    --semantic-distance-large: 1rem;
    --semantic-distance-extra-large: 1.25rem;
    --semantic-distance-double-large: 1.5rem;
    --semantic-distance-triple-large: 2rem;
    --semantic-distance-jumbo: 2.5rem;
    --semantic-distance-mega: 3rem;
    --semantic-distance-giga: 4rem;
    --semantic-distance-terra: 6rem;
    --semantic-distance-cosmic: 8rem;
    --semantic-distance-colossal: 16rem;

    /* FONT SIZES */
    --semantic-font-size-caption: 0.75rem;
    --semantic-font-size-label: 0.875rem;
    --semantic-font-size-text: 1rem;
    --semantic-font-size-body: 1.125rem;
    --semantic-font-size-subheading: 1.25rem;
    --semantic-font-size-heading: 1.5rem;
    --semantic-font-size-title: 1.75rem;
    --semantic-font-size-lead: 2rem;
    --semantic-font-size-spotlight: 3rem;
    --semantic-font-size-display: 4rem;

    /* FONT WEIGHTS */
  --semantic-font-weight-bold: bold;
  --semantic-font-weight-regular: normal;
  --semantic-font-weight-semi-bold: semi-bold;

    /* LINE HEIGHTS */
    --semantic-line-height-tight: 0.0781rem;
    --semantic-line-height-normal: 0.0938rem;
    --semantic-line-height-loose: 0.1094rem;

    /* SIZES */
    --semantic-size-zero: 0rem;
    --semantic-size-hairline: 0.0625rem;
    --semantic-size-ultra-small: 0.125rem;
    --semantic-size-extra-small: 0.25rem;
    --semantic-size-small: 0.375rem;
    --semantic-size-compact: 0.5rem;
    --semantic-size-medium: 0.75rem;
    --semantic-size-large: 1rem;
    --semantic-size-extra-large: 1.25rem;
    --semantic-size-double-large: 1.5rem;
    --semantic-size-triple-large: 2rem;
    --semantic-size-jumbo: 2.5rem;
    --semantic-size-mega: 3rem;
    --semantic-size-giga: 4rem;
    --semantic-size-terra: 6rem;
    --semantic-size-cosmic: 8rem;
    --semantic-size-colossal: 16rem;
    --semantic-size-titan: 32rem;

    /* FONT FAMILIES */
    --semantic-font-family-default: Noto Sans;
    --semantic-font-family-icon: Font Awesome 6 Sharp;

    /* ICONS */
   --semantic-icons-add-button: fa-solid fa-plus;
    --semantic-icons-add-location: fa-solid fa-location-dot;
    --semantic-icons-arrow-link: fa-solid fa-arrow-right;
    --semantic-icons-blog: fa-solid fa-rss;
    --semantic-icons-bookmark-off: fa-regular fa-bookmark;
    --semantic-icons-bookmark-on: fa-solid fa-bookmark;
    --semantic-icons-borrowed-items: fa-solid fa-book-open;
    --semantic-icons-calendar-widget: fa-solid fa-calendar-days;
    --semantic-icons-caret-down: fa-solid fa-caret-down;
    --semantic-icons-change-password: fa-solid fa-lock;
    --semantic-icons-checkbox-off: fa-regular fa-square;
    --semantic-icons-checkbox-on: fa-regular fa-square-check;
    --semantic-icons-close-button: fa-solid fa-xmark;
    --semantic-icons-copy-button: fa-solid fa-copy;
    --semantic-icons-dark-mode: fa-regular fa-moon-stars;
    --semantic-icons-delete: fa-regular fa-trash;
    --semantic-icons-download-button: fa-solid fa-download;
    --semantic-icons-e-mail-adress: fa-solid fa-envelope;
    --semantic-icons-edit-entry: fa-solid fa-pen-to-square;
    --semantic-icons-edit-isil: fa-solid fa-file-pen;
    --semantic-icons-ext-link: fa-solid fa-arrow-up-right-from-square;
    --semantic-icons-extend-id: fa-solid fa-id-card;
    --semantic-icons-facebook: fa-brands fa-facebook;
    --semantic-icons-favorite-off: fa-regular fa-star;
    --semantic-icons-favorite-on: fa-solid fa-star;
    --semantic-icons-fax-number: fa-solid fa-fax;
    --semantic-icons-fees: fa-solid fa-euro-sign;
    --semantic-icons-help: fa-solid fa-circle-question;
    --semantic-icons-information: fa-solid fa-circle-info;
    --semantic-icons-instagram: fa-brands fa-instagram;
    --semantic-icons-lang-settings: fa-solid fa-globe;
    --semantic-icons-library-acc: fa-solid fa-circle-user;
    --semantic-icons-light-mode: fa-regular fa-sun-bright;
    --semantic-icons-login-button: fa-solid fa-arrow-right-to-bracket;
    --semantic-icons-logout-button: fa-solid fa-arrow-left-to-bracket;
    --semantic-icons-mastodon: fa-brands fa-mastodon;
    --semantic-icons-media-book: fa-solid fa-book-open-cover;
    --semantic-icons-media-database: fa-solid fa-database;
    --semantic-icons-media-disk: fa-light fa-compact-disc;
    --semantic-icons-media-e-book: fa-light fa-tablet;
    --semantic-icons-media-e-journal: fa-light fa-files;
    --semantic-icons-media-essay: fa-light fa-file-lines;
    --semantic-icons-media-game: fa-light fa-dice;
    --semantic-icons-media-image: fa-light fa-image;
    --semantic-icons-media-manuscript: fa-light fa-pen-nib;
    --semantic-icons-media-map: fa-light fa-map;
    --semantic-icons-media-microform: fa-light fa-film-canister;
    --semantic-icons-media-mixed: fa-light fa-box-archive;
    --semantic-icons-media-movie: fa-light fa-camera-movie;
    --semantic-icons-media-musicals: fa-light fa-list-music;
    --semantic-icons-media-newspaper: fa-light fa-newspaper;
    --semantic-icons-media-online-essay: fa-light fa-laptop-file;
    --semantic-icons-media-projection: fa-light fa-video;
    --semantic-icons-media-publications-series: fa-light fa-books;
    --semantic-icons-media-publications-volume: fa-duotone fa-solid fa-books;
    --semantic-icons-media-sound: fa-light fa-volume;
    --semantic-icons-media-unknown: fa-light fa-crystal-ball;
    --semantic-icons-museums: fa-solid fa-building-columns;
    --semantic-icons-next-page: fa-solid fa-angle-right;
    --semantic-icons-orders:  fa-solid fa-book-bookmark;
    --semantic-icons-partner-institutions: fa-solid fa-building-columns;
    --semantic-icons-permalink: fa-solid fa-link;
    --semantic-icons-personal-info: fa-solid fa-user;
    --semantic-icons-phone-number: fa-solid fa-phone;
    --semantic-icons-plain-lang: fa-solid fa-book-open-reader;
    --semantic-icons-prev-page: fa-solid fa-angle-left;
    --semantic-icons-print: fa-solid fa-print;
    --semantic-icons-quote: fa-solid fa-quote-right;
    --semantic-icons-report-bug: fa-light fa-bug;
    --semantic-icons-search: fa-solid fa-magnifying-glass;
    --semantic-icons-settings: fa-solid fa-gear;
    --semantic-icons-show-less: fa-solid fa-angle-up;
    --semantic-icons-show-more: fa-solid fa-angle-down;
    --semantic-icons-show-password: fa-light fa-eye;
    --semantic-icons-sign-lang: fa-solid fa-hands;
    --semantic-icons-twitter: fa-brands fa-x-twitter;
    --semantic-icons-type-archive: fa-solid fa-box-archive;
    --semantic-icons-type-dissolved: fa-solid fa-location-xmark;
    --semantic-icons-type-e-ressources: fa-solid fa-display;
    --semantic-icons-type-library: fa-solid fa-books;
    --semantic-icons-type-misc: fa-solid fa-house-building;
    --semantic-icons-warning: fa-solid fa-triangle-exclamation;
  }
